// Custom.scss
// Option B: Include parts of Bootstrap

/* VARIABLE OVERRIDES */
$font-family-base: Helvetica Neue, sans-serif;
$body-bg: #fff;
$body-color: #000;
$card-color: #13191D;
$navbar-dark-color: #272F32;
$primary: #0F91D2;


/* REQUIRED IMPORTS */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


/* HTML ELEMENTS */
body {
  background-color: $body-bg;
  font-family: $font-family-base;
  color: $body-color;
}


/* COMPONENTS */
#profile {
  margin-top: 40px;
}

#connect-links {
  list-style-type: none;
}

#main-site-gateway {
  max-width: 600px;
  padding: 20px;

  .btn {
    color: white;
    background-color: #D2D4DB;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
  }

  img {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    margin-left: 5px;
  }
}

#description {
  font-size: 18px;
}

#profile-picture {
  width: 50vw;
  height: 50vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 100%;
}

#profile-picture-small {
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
}

#cv-links {

}

/* CLASSES */
.dark-mode {
  background-color: black;
  color: white;

  .modal-content {
    background-color: #1E1F1E;
    border-radius: 10px;
  }

  #main-site-gateway {
    .btn {
      background-color: #525666;
    }
  }

  .toggle-active {
    color: white;
  }

  .toggle-inactive {
    &:hover {
      color: lightgray;
    }
  }

  .github {
    color: white;
    &:hover {
      color: white;
    }
  }

  .instagram {
    color: #C13584;
    &:hover {
      color: #833AB4;
    }
  }
}

.modal-content {
  border: none;
  border-radius: 15px;
}

.modal-header {
  border: none;
  padding: 10px 0 10px 16px;

}

.modal-body {
  padding: 0 0 0 16px;
  margin: 0;
}

.modal-footer {
  border: none;
  padding: 0 10px 10px;
}

.card-text {
  color: $card-color;
}

.card-title {
  color: $card-color;
}

.card-header {
  color: $card-color;
}

.list-group {

  .list-group-item {
    color: $card-color;
  }
}

.social-icon {
  margin-right: 25px;
}

.toggle {
  font-size: 20px;
}

.toggle-active {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.toggle-inactive {
  color: grey;
  &:hover {
    color: $body-color;
  }
}

/* FONTS */
.georgia {
  font-family: Georgia, sans-serif;
}

.menlo {
  font-family: Menlo, sans-serif;
}

.helvetica-light {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.helvetica-normal {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

/* COLOR CLASSES */
.grey {
  color: grey;
}

.uk-gradient {
  background: -webkit-linear-gradient(#E12B27, #4C6085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github {
  color: #333;
  &:hover {
    color: #333;
  }
}

.linkedin {
  color: #2867B2;
  &:hover {
    color: #2867B2;
  }
}

.twitter {
  color: #1DA1F2;
  &:hover {
    color: #1DA1F2;
  }
}

.facebook {
  color: #1876f2;
  &:hover {
    color: #1876f2;
  }
}

.instagram {
  color: #833AB4;
  &:hover {
    color: #C13584;
  }
}

.rss {
  color: orange;
  &:hover {
    color: orange;
  }
}

.java {
  color: #ED8B00;
}

.mysql {
  color: #00758f;
}

.bootstrap {
  color: #563d7c;
}

.html {
  color: #F16529;
}

.python {
  color: #ffde57;
}

.wba {
  color: #091454;
  &:hover {
    color: #091454;
  }
}

.coming-soon {
  display: inline-block;
  border: 3px solid #FF571F;
  border-radius: 10px;
  color: #FF571F;
  padding: 5px;
}