// Custom.css
// Option B: Include parts of Bootstrap

/* Variables */
$font-family-base: Helvetica Neue, sans-serif;
$body-bg: #fff;
$body-color: #000;
$card-color: #13191D;
$navbar-dark-color: #272F32;
$primary: #0F91D2;


/* Required imports */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


/* Elements */
body {
  background-color: $body-bg;
  font-family: $font-family-base;
  color: $body-color;
}


/* IDs */
#profile {
  margin-top: 40px;
}

#connect-links {
  list-style-type: none;
}

.special-link {
  max-width: 600px;
  padding: 20px;

  .btn {
    color: white;
    background-color: #D2D4DB;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
  }

  img {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    margin-left: 5px;
  }
}


#tabnav-container {
  text-align: center;
}

#tabnav {
  display: inline-block;
  text-align: center;

  .tabnav-items {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 500;

    .tabnav-item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;
      margin-left: 40px;
    }

    .tabnav-link {
      color: #838383;

      &:hover {
        text-decoration: none;
      }
    }

    .tabnav-link.active {
      color: #151515;
      transition: all .25s ease-in-out;
    }
  }

  .tabnav-bar {
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #e7e7e7;
    border-radius: 10px;
  }

  .indicator {
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background: black;
    transition: transform 0.25s ease-in-out;
  }
}

#description-container {
  position: relative;
  font-size: 18px;

  .description {
    position: absolute;
    opacity: 1;
    //transition: opacity 2s;
  }

  .description.hidden {
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
  }
}

/* Classes */
.social-icon {
  margin-right: 25px;
}


/* Fonts */
.helvetica-light {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.helvetica-normal {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

/* Colors */
.grey {
  color: grey;
}

.github {
  color: #333;
  &:hover {
    color: #333;
  }
}

.linkedin {
  color: #2867B2;
  &:hover {
    color: #2867B2;
  }
}

.twitter {
  color: #1DA1F2;
  &:hover {
    color: #1DA1F2;
  }
}

.facebook {
  color: #1876f2;
  &:hover {
    color: #1876f2;
  }
}

.instagram {
  color: #833AB4;
  &:hover {
    color: #C13584;
  }
}

.rss {
  color: orange;
  &:hover {
    color: orange;
  }
}

/* Dark Mode */
.dark-mode {
  background-color: black;
  color: white;

  .modal-content {
    background-color: #1E1F1E;
    border-radius: 10px;
  }

  .special-link {
    .btn {
      background-color: #525666;
    }
  }

  .toggle-active {
    color: white;
  }

  .toggle-inactive {
    &:hover {
      color: lightgray;
    }
  }

  .github {
    color: white;
    &:hover {
      color: white;
    }
  }

  .instagram {
    color: #C13584;
    &:hover {
      color: #833AB4;
    }
  }

  #tabnav {
    .tabnav-link {
      color: grey;

      &:hover {
        text-decoration: none;
      }
    }

    .tabnav-link.active {
      color: white;
      transition: all .25s ease-in-out;
    }

    .tabnav-bar {
      background: #323036;
    }

    .indicator {
      background: #787382;
    }
  }

  #profile-picture-container {
    border-color: #333333;
  }

}


#profile-picture-container {
  position: relative;
  height: 300px;
  width: 300px;
  border: 4px solid #eee;
  border-radius: 100%;
}

.slide {
  border: none;
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 50%;
  margin-left: -150px;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 0.5s linear;
  border-radius: 100%;
}
.showMe {
  opacity: 1;
}