html {
  height: 100%;
  background-image: linear-gradient(#f94c57, #fc3c44);
}

body {
  font-family: "Helvetica Neue", sans-serif, "Helvetica", sans-serif, "Arial", sans-serif;
  color: white;
  background-image: linear-gradient(#f94c57, #fc3c44);
  background-color: transparent;
  font-size: 20px;
}

a {
    color: white;

    &:hover {
        color: white;
    }
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

#albums {
  iframe {
    margin: 20px 0;
  }
}
