//colors
$blue: rgb(0, 122, 255);
$green: rgb(52, 199, 89);
$indigo: rgb(88, 86, 214);
$orange: rgb(255, 149, 0);
$pink: rgb(255, 45, 85);
$purple: rgb(175, 82, 222);
$red: rgb(255, 59, 48);
$yellow: rgb(255, 204, 0);
$medium-grey: rgb(142, 142, 147);
$light-grey: rgb(174, 174, 178);
$dark-grey: rgb(72, 72, 74);
$x-dark-grey: rgb(58, 58, 60);

$font-stack: "Helvetica Neue", sans-serif;
$memoji: "../assets/images/George's%20Memoji.png";


.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

body {
  margin: 0.8em 0 3.3em 0;
  background-color: white;
  color: black;
  font-family: $font-stack;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

p {
  font-size: 14pt;
  color: $dark-grey;
}

h1 h2 h3 h4 {
  color: $x-dark-grey;
}

h1 {
  font-size: min(5vw, 30pt);
}

h2 {
  font-size: min(5vw, 18pt);
}

h3 {
  font-size: min(5vw, 16pt);
}

//a {
//  color: $blue;
//  text-decoration: none;
//}
//
//a:hover {
//  text-decoration: underline;
//}
//
//a:visited {
//  color: $blue;
//}

.subtitle {
  font-size: min(5vw, 18pt);
  font-weight: normal;
}


.beta {
  margin: 0.25em 0 0 0;
  color: $orange;
}

.new {
  margin: 0.25em 0 0 0;
  color: $green;
}

nav {

  ul {
    background-color: $x-dark-grey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
    line-height: 50pt;
  }

  a {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: $light-grey;
    text-decoration: none;
  }
}


#navbar-logo {
  content: url($memoji);
  width: 50pt;
  height: 50pt;
}

.navbar-link {
  font-size: 16pt;
  font-weight: bold;
}


#navbar-logo {
  content: url($memoji);
  //width: 13vw;
  //height: 13vw;
  max-width: 70px;
  max-height: 70px;
  line-height: 70px;
}

.navbar-link {
  font-size: min(4.2vw, 23px);
  font-weight: bold;
}


#cover {
  .flex-container {
    display: flex;
    justify-content: center;
  }

  .flex-container > div {
    margin: 0.625em;
    padding: 1.25em;
    line-height: 10em;
  }

  .flex-container-vertical {
    display: flex;
    flex-direction: column;
    //background-color: DodgerBlue;
  }

  .flex-container-vertical > div {
    //background-color: red;
    width: 100%;
    text-align: center;
    line-height: 0.0625em;
  }

  #memoji {
    content: url($memoji);
    width: 30vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
  }

  #top-banner-title {
    margin-top: 3.3em;
  }
}


#intro {
  margin: 0 auto;
  text-align: center;

  .uk {
    background-image: linear-gradient(to right, $red, $blue);
    -webkit-background-clip: text;
    color: transparent;
  }
}

#notice {
  text-align: center;
  margin: 50px auto 0;
  width: 80vw;
  max-width: 500px;

  border: 5px solid $green;
  border-radius: 20px;
}


#site-links {
  .flex-container {
    display: flex;
    justify-content: center;
    //background-color: DodgerBlue;
  }

  .flex-container > div {
    margin: 10px;
  }
}


#about-me {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;

  .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center;
  }

  .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    font-weight: bold;
  }

  .wba {
    a {
      color: navy;
    }
  }
}


#skills {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;

  .progress-bar-wrapper {
    height: 10px;
    max-width: 700px;
    border-radius: 20px;

    div {
      height: 10px;
      background-color: $blue;
      border-radius: 20px;
    }
  }

  .progress-100 {
    width: 100%;
  }

  .progress-90 {
    width: 90%;
  }

  .progress-80 {
    width: 80%;
  }

  .progress-70 {
    width: 70%;
  }

  .progress-60 {
    width: 60%;
  }
}

#music {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

#connect {
  width: 90%;
  margin: 20px auto 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center;
  }

  .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    margin: 0.3125em;
    text-align: center;
    //line-height: 70.3125em;
    font-weight: bold;
  }

  .github {
    a {
      color: $dark-grey;
    }
  }

  .email {
    a {
      color: $blue;
    }
  }

  .twitter {
    a {
      color: #1DA1F2;
    }
  }

  .instagram {
    a {
      background-image: linear-gradient(to right, #5851DB, #833AB4, #C13584, #E1306C);
      -webkit-background-clip: text;
      color: transparent;
    }

    a:hover {
      color: #C13584;
      text-decoration: underline;
    }
  }
}

#gallery {
  width: 80%;
  margin: 100px auto 0;

  .img-view {
    margin-bottom: 100px;
  }

  img {
    padding: 5px;
  }

  .horizontal-img {
    width: 75vw;
    max-width: 700px;
  }

  .vertical-img {
    width: 70vw;
    max-width: 500px;
  }

  p {
    font-size: min(10vw, 15px);
    margin: 2px;
  }
}

#publicity-rep {
  width: 80%;
  margin: 100px auto 0;

  .img-view {
    margin-bottom: 100px;
  }

  img {
    padding: 5px;
  }

  .horizontal-img {
    width: 75vw;
    max-width: 700px;
  }

  .vertical-img {
    width: 70vw;
    max-width: 500px;
  }

  p {
    font-size: min(10vw, 15px);
    margin: 2px;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .description {
    margin-left: 20px;
    font-size: 20px;
  }
}