.dark-mode {
  //background-color: #171440;
  background-color: #212121;
  color: white;
}

.top-bar-dark {
  background-color: #484848 !important;
}

.subtitle {
  font-size: min(5vw, 18pt);
  font-weight: normal;
  //margin-left: 20px;
}

body {
  background-color: #2f3c63;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0 0 40px 0;
}

a {
  color: #ff9c00;
  text-decoration: none;
}

a:visited {
  color: #ff9c00;
}

a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  padding: 5px;
  float: right;
  background-color: #1c223f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 14px 10px 14px 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2f3c63;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2f3c63;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#top-banner {
  width: 100vw;
  text-align: center;
  margin: 100px auto 0;
  padding: 5px;

  h1 {
    font-size: min(10vw, 60px);
    margin-bottom: 0;
  }

  h2 {
    font-size: min(6vw, 40px);
    margin-top: 10px;
  }
}

#why-me {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;

  .subtitle {
    margin-top: 40px;
  }

  #gallery {
    background-image: linear-gradient(to right, #ff9c00, #58cad6);
    -webkit-background-clip: text;
    color: transparent;
  }

  #rob {
    width: 600px;
    height: 400px;
    background-image: url("../assets/images/Rob Hallam.png");
  }

  #george {
    width: 400px;
    height: 600px;
    background-image: url("../assets/images/George Baker.png");
  }

  .twitter {
    width: 100px;
  }

  img {
    width: 600px;
    border: 1px solid;
  }
}

#connect {
  width: 90%;
  margin: 20px auto 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center;
  }

  .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    margin: 0.3125em;
    text-align: center;
    //line-height: 70.3125em;
    font-weight: bold;
  }

  .github {
    a {
      color: grey;
    }
  }

  .website {
    a {
      color: #ff9c00;
    }
  }

  .twitter {
    a {
      color: #1DA1F2;
    }
  }

  .instagram {
    a {
      background-image: linear-gradient(to right, #5851DB, #833AB4, #C13584, #E1306C);
      -webkit-background-clip: text;
      color: transparent;
    }

    a:hover {
      color: #C13584;
      text-decoration: underline;
    }
  }
}