.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear; }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear; }

body {
  margin: 0.8em 0 3.3em 0;
  background-color: white;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%; }

p {
  font-size: 1.6vw;
  color: #48484a; }

h1 h2 h3 h4 {
  color: #3a3a3c; }

h1 {
  font-size: 3.5vw; }

h2 {
  font-size: 2vw; }

h3 {
  font-size: 1.3em; }

a {
  color: #007aff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #007aff; }

.subtitle {
  font-size: 2.2vw;
  font-weight: normal; }

.button {
  background-color: #007aff;
  color: white;
  border-radius: 0.8em;
  height: 4vw;
  line-height: 4vw; }
  .button a {
    color: white; }
  .button a:hover {
    text-decoration: none; }
  .button a:visited {
    color: white; }

.beta {
  margin: 0.25em 0 0 0;
  color: #ff9500; }

nav ul {
  background-color: #3a3a3c;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; }
nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 0 0.45em;
  text-decoration: none;
  line-height: 5vw; }
nav a {
  color: white; }
nav a:visited {
  color: white; }
nav a:hover {
  color: #aeaeb2;
  text-decoration: none; }

#navbar-logo {
  content: url("../assets/profile-picture.png");
  width: 5vw;
  height: 5vw; }

.navbar-link {
  font-size: 1.7vw;
  font-weight: bold; }

#top-banner .flex-container {
  display: flex;
  justify-content: center; }
#top-banner .flex-container > div {
  margin: 0.625em;
  padding: 1.25em;
  line-height: 10em; }
#top-banner .flex-container-vertical {
  display: flex;
  flex-direction: column; }
#top-banner .flex-container-vertical > div {
  width: 100%;
  text-align: center;
  line-height: 0.0625em; }
#top-banner #top-banner-logo {
  content: url("../assets/profile-picture.png");
  width: 12.5em;
  height: 12.5em; }
#top-banner #top-banner-title {
  margin-top: 3.3em; }

#intro {
  margin: 0 auto;
  text-align: center; }
  #intro .united-kingdom {
    background-image: linear-gradient(to right, #ff3b30, #007aff);
    -webkit-background-clip: text;
    color: transparent; }

#blog-link {
  margin: 0 auto;
  text-align: center; }
  #blog-link .button {
    width: 6.7em;
    margin: 8.4em auto 0; }

#about-me {
  width: 100%;
  margin: 5.8em auto 0; }
  #about-me h1 {
    margin: 0; }
  #about-me .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center; }
  #about-me h3 {
    padding: 0;
    margin: 0;
    top: 0; }
  #about-me .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    font-weight: bold; }
  #about-me .computer-science {
    color: #5856d6; }
  #about-me .minecraft {
    color: darkgreen; }
  #about-me .marmite {
    background-image: linear-gradient(to right, #3f1003, #ffcc00);
    -webkit-background-clip: text;
    color: transparent; }
  #about-me .favourite-color {
    color: #007aff; }
  #about-me .wba a {
    color: navy; }
  #about-me .favourite-artist a {
    color: #ffcc00; }
  #about-me .favourite-food {
    color: saddlebrown; }
  #about-me .favourite-drink {
    background-image: linear-gradient(to right, #34c759, #ffcc00);
    -webkit-background-clip: text;
    color: transparent; }

#music {
  margin: 3.3em auto 0; }
  #music .button {
    width: 10em;
    margin: 0 auto;
    text-align: center; }

#connect {
  width: 90%;
  margin: 6.7em auto 0;
  text-align: center; }
  #connect h1 {
    margin: 0; }
  #connect .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center; }
  #connect .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    margin: 0.3125em;
    text-align: center;
    font-weight: bold; }
  #connect .github a {
    color: #48484a; }
  #connect .email a {
    color: #007aff; }
  #connect .twitter a {
    color: #1DA1F2; }
  #connect .instagram a {
    background-image: linear-gradient(to right, #5851DB, #833AB4, #C13584, #E1306C);
    -webkit-background-clip: text;
    color: transparent; }
  #connect #email-wrapper {
    margin: 2.5em 0 0 0; }
  #connect .button {
    width: 5.8em;
    margin: 0 auto; }

#blog-coming-soon {
  width: 70%;
  margin: 5.8em auto 0;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
