$blue: rgb(0, 122, 255);
$green: rgb(52, 199, 89);
$indigo: rgb(88, 86, 214);
$orange: rgb(255, 149, 0);
$pink: rgb(255, 45, 85);
$purple: rgb(175, 82, 222);
$red: rgb(255, 59, 48);
$yellow: rgb(255, 204, 0);
$grey1: rgb(142, 142, 147);
$grey2: rgb(174, 174, 178);
$grey3: rgb(72, 72, 74);
$grey4: rgb(58, 58, 60);

$font-stack: "Helvetica Neue", sans-serif;
$profile-picture: "../assets/profile-picture.png";



.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

body {
  margin: 0.8em 0 3.3em 0;
  background-color: white;
  color: black;
  font-family: $font-stack;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

p {
  font-size: 1.6vw;
  color: $grey3;
}

h1 h2 h3 h4 {
  color: $grey4;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.3em;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $blue;
}

.subtitle {
  font-size: 2.2vw;
  font-weight: normal;
}

.button {
  background-color: $blue;
  color: white;
  border-radius: 0.8em;
  height: 4vw;
  line-height: 4vw;

  // define width in container

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  a:visited {
    color: white;
  }
}

.beta {
  margin: 0.25em 0 0 0;
  color: $orange;
}

nav {

  ul {
    background-color: $grey4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 0.45em;
    text-decoration: none;
    line-height: 5vw;
  }

  a {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: $grey2;
    text-decoration: none;
  }
}

#navbar-logo {
  content: url($profile-picture);
  width: 5vw;
  height: 5vw;
}

.navbar-link {
  font-size: 1.7vw;
  font-weight: bold;
}

#top-banner {
  .flex-container {
    display: flex;
    justify-content: center;
  }

  .flex-container > div {
    margin: 0.625em;
    padding: 1.25em;
    line-height: 10em;
  }

  .flex-container-vertical {
    display: flex;
    flex-direction: column;
    //background-color: DodgerBlue;
  }

  .flex-container-vertical > div {
    //background-color: red;
    width: 100%;
    text-align: center;
    line-height: 0.0625em;
  }

  #top-banner-logo {
    content: url($profile-picture);
    width: 12.5em;
    height: 12.5em;
  }

  #top-banner-title {
    margin-top: 3.3em;
  }
}

#intro {
  margin: 0 auto;
  text-align: center;

  .united-kingdom {
    background-image: linear-gradient(to right, $red, $blue);
    -webkit-background-clip: text;
    color: transparent;
  }
}

#blog-link {
  margin: 0 auto;
  text-align: center;

  .button {
    width: 6.7em;
    margin: 8.4em auto 0;
  }
}

#about-me {
  width: 100%;
  margin: 5.8em auto 0;

  h1 {
    margin: 0;
  }

  .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center;
  }

  h3 {
    padding: 0;
    margin: 0;
    top: 0;
  }

  .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    //line-height: 70.3125em;
    font-weight: bold;
  }

  .computer-science {
    color: $indigo;
  }

  .minecraft {
    color: darkgreen;
  }

  .marmite {
    background-image: linear-gradient(to right, #3f1003, $yellow);
    -webkit-background-clip: text;
    color: transparent;
  }
  .favourite-color {
    color: $blue;
  }

  .wba {
    a {
      color: navy;
    }
  }

  .favourite-artist {
    a {
      color: $yellow;
    }
  }

  .favourite-food {
    color: saddlebrown;
  }

  .favourite-drink {
    background-image: linear-gradient(to right, $green, $yellow);
    -webkit-background-clip: text;
    color: transparent;
  }
}

#music {
  //width: 70%;
  margin: 3.3em auto 0;
  //text-align: center;

  .button {
    width: 10em;
    margin: 0 auto;
    text-align: center;
  }
}

#connect {
  width: 90%;
  margin: 6.7em auto 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  .flex-container {
    display: flex;
    height: 2.5em;
    justify-content: center;
  }

  .flex-container > div {
    width: 12.5em;
    height: 2.5em;
    margin: 0.3125em;
    text-align: center;
    //line-height: 70.3125em;
    font-weight: bold;
  }

  .github {
    a {
      color: $grey3;
    }
  }

  .email {
    a {
      color: $blue;
    }
  }

  .twitter {
    a {
      color: #1DA1F2;
    }
  }

  .instagram {
    a {
      background-image: linear-gradient(to right, #5851DB, #833AB4, #C13584, #E1306C);
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  #email-wrapper {
    margin: 2.5em 0 0 0;
  }

  .button {
    width: 5.8em;
    margin: 0 auto;
  }
}

#blog-coming-soon {
  width: 70%;
  margin: 5.8em auto 0;
  text-align: center;
}
